.page-fade-enter-active {
    transition: all 0.3s ease;
}

.page-fade-leave-active {
    transition: all 0.2s cubic-bezier(1, 0.5, 0.8, 1);
}

.page-fade-enter,
.page-fade-leave-to {
    opacity: 0;
    transform: translateX(10px);
}
